#admin-content {

  #article-form {
    .form-actions {
      a, input {
        width: 100%;
        margin-bottom: -10px;
      }
      input:first-child {
        margin-top: 10px;
      }
    }
  }

  .fa {
    display: inline-block;
  }
}