#article-form.row
  / Left hand tabs & form actions
  .col-sm-2
    %ul{ class: 'nav nav-pills nav-stacked', id: 'new-article-tabs' }
      %li.active
        %a{ href: '#content', role: 'tab', 'data-toggle' => 'tab' } Content
      %li
        %a{ href: '#hero-image', role: 'tab', 'data-toggle' => 'tab' } Hero image
      %li
        %a{ href: '#photographer', role: 'tab', 'data-toggle' => 'tab' } Photographer
      %li
        %a{ href: '#meta-data', role: 'tab', 'data-toggle' => 'tab' } Meta data

    %hr

    .form-actions
      =f.submit pat(:save), :class => 'btn btn-success'
      &nbsp;
      =f.submit pat(:publish), :class => 'btn btn-info', :name => 'publish'
      &nbsp;
      =link_to pat(:cancel), url(:articles, :index), :class => 'btn btn-default'

  / Right hand tab content
  .col-sm-10
    .tab-content

      %div{ class: 'tab-pane fade in active', id: 'content'}
        %h4 Content
        - error = @article.errors.key?(:title) && @article.errors[:title].count > 0
        %fieldset.control-group{:class => error ? 'has-error' : ''}
          =f.label :title, :class => 'control-label'
          .controls
            ~f.text_area :title, :class => 'form-control input-large input-with-feedback', :autofocus => true
            %span.help-inline= f.error_message_on(:title, :class => 'text-error') if error

        - error = @article.errors.key?(:body) && @article.errors[:body].count > 0
        %fieldset.control-group{:class => error ? 'has-error' : ''}
          =f.label :body, :class => 'control-label'
          .controls
            ~f.text_area :body, :class => 'form-control input-large input-with-feedback'
            %span.help-inline= f.error_message_on(:body, :class => 'text-error') if error

      %div{ class: 'tab-pane fade', id: 'hero-image'}
        %h4 Hero image

      %div{ class: 'tab-pane fade', id: 'photographer'}
        %h4 Photographer

      %div{ class: 'tab-pane fade', id: 'meta-data'}
        %h4 Meta data