.container
  .row
    .col-sm-6
      %h3 Article body
      - error = @article.errors.key?(:title) && @article.errors[:title].count > 0
      %fieldset.control-group{:class => error ? 'has-error' : ''}
        =f.label :title, :class => 'control-label'
        .controls
          ~f.text_area :title, :class => 'form-control input-large input-with-feedback', :autofocus => true
          %span.help-inline=error ? f.error_message_on(:title, :class => 'text-error') : pat(:example)

      = link_to pat(:add_image), class: 'btn btn-primary', 'data-toggle' => 'modal', 'data-target' => '#add-image'

      - error = @article.errors.key?(:body) && @article.errors[:body].count > 0
      %fieldset.control-group{:class => error ? 'has-error' : ''}
        =f.label :body, :class => 'control-label'
        .controls
          ~f.text_area :body, :class => 'form-control input-large input-with-feedback'
          %span.help-inline=error ? f.error_message_on(:body, :class => 'text-error') : pat(:example)

    .col-sm-6
      %h3 Meta data
      - error = @article.errors.key?(:author_id) && @article.errors[:author_id].count > 0
      %fieldset.control-group{:class => error ? 'has-error' : ''}
        =f.label :author_id, :class => 'control-label'
        .controls
          =f.text_field :author_id, :class => 'form-control input-large input-with-feedback'
          %span.help-inline=error ? f.error_message_on(:author_id, :class => 'text-error') : pat(:example)

      %fieldset

  .form-actions
    =f.submit pat(:save), :class => 'btn btn-primary'
    &nbsp;
    =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
    &nbsp;
    =link_to pat(:cancel), url(:articles, :index), :class => 'btn btn-default'

%div{ class: 'modal fade', id: 'add-image', role: 'dialog', 'aria-labelledby' => 'Add image', 'aria-hidden' => 'true' }
  .modal-dialog
    .modal-content
      .modal-header
        %button{ type: 'button', class: 'close', 'data-dismiss' => 'modal' }
          %span{ 'aria-hidden' => 'true' } &times;
          %span.sr-only Close
        %h4.modal-title.add-image-label Add image
      .modal-body
        .row
          .col-md-6
            %h3 Upload
            = link_to pat(:upload_image), class: 'btn btn-primary'

          .col-md-6
            %h3 Add existing
            %p LIST OF IMAGES

      .modal-footer
        %button{ type: 'button', class: 'btn btn-default', 'data-dismiss' => 'modal' } Close